<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuckyEvent"
        tools:targetApi="31">
        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.EntrantEventDetailsActivity"
            android:exported="false"/>
        <activity android:name=".activities.GenerateQrActivity"/>
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.EntrantSignUpActivity" />
        <activity android:name=".activities.RegisterDeviceActivity" />
        <activity android:name=".activities.OrganizerSignInActivity" />
        <activity android:name=".activities.OrganizerSignUpActivity"/>
        <activity android:name=".activities.MenuActivity"/>
        <activity android:name=".activities.ProfileView" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ViewProfileActivity" />
        <activity android:name=".activities.RegisterProfileActivity" />
        <activity android:name=".activities.EditProfilePictureActivity"/>
        <activity android:name = ".activities.OrganizerMenuActivity"
            android:exported="false"/>
        <activity android:name=".activities.AdminMenuActivity"/>
        <activity android:name = ".activities.OrganizerHomePageActivity"/>
        <service android:name=".LotteryService" />
        <service android:name=".QRDownloadService" />
        <service android:name=".NotificationService" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>